<header>
    <nav class="flex space items-center justify-between flex-wrap mr-15 ml-10 p-2">
        <div class="flex flex-shrink-0 mr-60">
          <img class ="h-12 w-12 mr-60 mb-0.5" src="../../assets/img/logo2.png" alt="">
        </div>
        <div class="text-white mt-0.5">
          KIRUBAI MATRIMONY
        </div>
        <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
        <div class="text-sm sm:flex-grow">
          <a  href="#"
              class="block mt-0.5 sm:inline-block sm:mt-0 text-white mr-4">
            Home
          </a>
          <a href="#"
              class="block mt-0.5 sm:inline-block sm:mt-0 text-white mr-4">
             Plans
          </a>
          <a href="#"
              class="block mt-0.5 sm:inline-block sm:mt-0 text-white mr-4">
             Contact Us
          </a>
        </div>
        <div>
          <a [routerLink]="['/signin']"
              class=" button inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black bg-white mt-0.5 md:mt-0">
              Signin
          </a>
        </div>
        </div>
    </nav>
</header>
