footer{
    position: relative;
    font-size: 12px;
    color: white;
    margin: 0 auto;
    font-family: quando;
}
@media only screen and (max-width: 640px){
    footer{
        position: relative;
    }
    footer ul{
       text-align: center;
    }
}