<footer class="w-full">
    <div class="container flex flex-row bg-gradient-to-b from-red-700 to-red-900">
        <div class="justify-between flex w-full pt-3 pr-10">
            <div>
                <ul>
                    <li>Kirubai Matrimony</li>
                    <li>+91-7305241841</li>
                    <li>adminin@kirubai.in</li>
                </ul>
            </div>
            <div>
              <p class="text-center mt-4">Company Name © 2018</p>
            </div>
            <div>
                <ul>
                    <li><a>Terms & Conditions</a></li>
                    <li><a>Cancellation & Refund</a></li>
                    <li><a>Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>