<footer class="px-3 py-2">
    <div class="container flex flex-row space-y-2 mt-2">
        <div class="justify-between flex w-full pr-2 mr-30 sm:flex-row  sm:align-center">
            <div class="flex mr-90">
                <ul>
                    <li>Kirubai Matrimony</li>
                    <li>+91-7305241841</li>
                    <li>adminin@kirubai.in</li>
                </ul>
            </div>
            <div>
              <p class="text-center mt-4">Company Name © 2018</p>
            </div>
            <div class="flex">
                <ul>
                    <li><a>Terms & Conditions</a></li>
                    <li><a>Cancellation & Refund</a></li>
                    <li><a>Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>