<footer class="w-full bg-gradient-to-b from-red-700 to-red-900">
    <div class="container flex">
        <div class="justify-between flex flex-wrap w-full pt-3 pr-2 pl-2">
            <div>
                <ul>
                    <li>Kirubai Matrimony</li>
                    <li>+91-7305241841</li>
                    <li>adminin@kirubai.in</li>
                </ul>
            </div>
            <div>
              <p class="text-center mt-4">Company Name © 2018</p>
            </div>
            <div>
                <ul>
                    <li><a [routerLink]="['/termsandconditions']" class="no-underline text-white">Terms & Conditions</a></li>
                    <li><a [routerLink]="['/cancellationandrefund']" class="no-underline text-white">Cancellation & Refund</a></li>
                    <li><a [routerLink]="['/privacypolicy']" class="no-underline text-white">Privacy Policy</a></li>
                    <li><a [routerLink]="['/aboutus']" class="no-underline text-white">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>