<body>
    <div class="flex items-center justify-center min-h-screen bg-local">
      <div class="h-full max-w-xl mt-12 px-9 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row pl-8 pr-8 pb-4">
        <div>
          <h1 class="mb-12 text-2xl text-center text-black">
         CANCELLATION & REFUND
          </h1>
        <div class="flex flex-wrap text-md -mx-3 mb-4 mt-4">  
           <p class="text-xs leading-6">
            Please read the full terms of our cancellation and refund policy below.
           </p>
           <p class="text-xs leading-6">
            Agreeing to our terms and conditions when you create an account with Wedding Feast Matrimony means you agree to our Cancellation and Refund Policy. Wedding Feast Matrimony - will not refund any payment for any reason whatsoever except in the case of error on Wedding Feast Matrimony. You may terminate your Wedding Feast Matrimony membership at any time, for any reason. But the payments made by member by way of registration/ renewal fee/ auto renewal is / are treated as non-refundable. Also no refund will be made in case of profile is inactive or terminated.  
           </p>
           <p class="text-xs leading-6">
            And this agreement shall govern the relationship between you and Wedding Feast Matrimony in all transactions and services. We take customer feedback very seriously and use it improve our service. 
           </p>
           <p class="text-xs leading-6">
            [Further, please read the full Terms and Conditions to know the facts, rules and laws of using this site.]  
           </p>
                
        </div>
      </div>
    </div>
    </div>
    </div> 
</body>
