<body>
    <div class="flex items-center justify-center min-h-screen bg-local pl-4 pr-4 md:pl-64 md:pr-64">
      <div class="h-full max-w-xxl mt-12 px-9 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-4 text-2xl text-center text-black">
            OUR SERVICES  
          </h1>
          <h1 class="mb-4 text-2xl text-center text-black">
            WEDDING ASSISTED SERVICE 
          </h1>
          <div class="h-30 w-full md:pl-32 md:pr-32 md:block">
            <img class="object-cover w-full h-full rounded-xl" src="../../../assets/img/services.jpg"
                    alt="img" />
          </div> 
        <div class="flex flex-wrap text-md -mx-3 mb-4 mt-4 pl-4 pr-2 md:pl-24 md:pr-24">  
            <p class="pb-2">Assisted Service is a personalised matchmaking service pioneered by Wedding feast Matrimony.</p>
            <p class="pb-2">It has helped thousands of members discover their perfect life partner. </p>
            <p class="pb-2">We have 100's of Relationship Managers across India, who can provide the service in the language of your choice.</p>
            <p class="pb-2">You will have a dedicated Relationship Manager to assist you in finding the perfect match.</p>
            <p class="pb-2">Through our assisted services, our Relationship Managers work closely with you to understand your expectations in detail to search among thousands of profiles and shortlist most suitable ones using advanced tools and their expertise in the field.</p>
        </div>
        <p class="mb-8 mr-4 pb-8 float-right text-black" [routerLink]="['/contactus']">contact us ----></p>
      </div>
    </div>
    </div>
    </div> 
</body>
