<body>
    <div class="flex items-center justify-center min-h-screen bg-local">
      <div class="h-full max-w-2xl mt-12 px-9 pt-12 mb-12 ml-8 mr-8 md:pl-12 md:pr-12 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-12 text-2xl text-center text-black">
            TERMS & CONDITIONS
          </h1>
        <div class="flex flex-wrap text-md -mx-3 mb-4 mt-4 pl-4 pr-4">  
            <h5 class="pb-2 text-bold text-black">Welcome to Wedding Feast Matrimony!</h5>
            <p class="text-xs leading-6 text-black">These terms and conditions outline the rules and regulations for the use of Wedding Feast Matrimony's Website, located at https://www.weddingfeastmatrimony.com.</p>
            <p class="text-xs leading-6 text-black">By accessing this website we assume you accept these terms and conditions. </p>
            <p class="text-xs leading-6 text-black">The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
            <h6 class="pb-2 text-bold text-black">Cookies</h6>
            <p class="text-xs leading-6 text-black">We employ the use of cookies. By accessing Wedding Feast Matrimony, you agreed to use cookies in agreement with the Wedding Feast Matrimony's Privacy Policy.</p>
            <p class="text-xs leading-6 text-black">Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
            <h6 class="pb-2 text-bold text-black">License</h6>
            <p class="text-xs leading-6 text-black">Unless otherwise stated, Wedding Feast Matrimony and/or its licensors own the intellectual property rights for all material on Wedding Feast Matrimony. All intellectual property rights are reserved. You may access this from Wedding Feast Matrimony for your own personal use subjected to restrictions set in these terms and conditions.</p> 
            <ol class="text-xs leading-6 text-black">
              <li>You must not:</li>
              <li>•	Republish material from Wedding Feast Matrimony</li>
              <li>•	Sell, rent or sub-license material from Wedding Feast Matrimony</li>
              <li>•	Reproduce, duplicate or copy material from Wedding Feast Matrimony</li>
              <li>•	Redistribute content from Wedding Feast Matrimony</li>
            </ol>
            <p class="text-xs leading-6 text-black">Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Wedding Feast Matrimony does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Wedding Feast Matrimony, its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Wedding Feast Matrimony shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>
            <p class="text-xs leading-6 text-black">Wedding Feast Matrimony reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
            <ol class="text-xs leading-6 text-black">
              <li>You warrant and represent that:</li>
              <li>•	You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
              <li>•	The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
              <li>•	The Comments do not contain any defamatory, libellous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
              <li>•	The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
            </ol>
            <p class="text-xs leading-6 text-black">You hereby grant Wedding Feast Matrimony a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
            <h6 class="pb-2 text-bold text-black">Hyperlinking to our Content</h6>
            <ol class="text-xs leading-6 text-black">
              <li>The following organizations may link to our Website without prior written approval:</li>
              <li>•	Government agencies;</li>
              <li>•	Search engines;</li>
              <li>•	News organizations;</li>
              <li>•	Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
              <li>•	System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
            </ol>
            <p class="text-xs leading-6 text-black">These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party’s site.</p>
            <ol class="text-xs leading-6 text-black">
              <li>We may consider and approve other link requests from the following types of organizations:</li>
              <li>•	commonly-known consumer and/or business information sources;</li>
              <li>•	dot.com community sites;</li>
              <li>•	associations or other groups representing charities;</li>
              <li>•	online directory distributors;</li>
              <li>•	internet portals;</li>
              <li>•	accounting, law and consulting firms; and</li>
              <li>•	educational institutions and trade associations.</li>
            </ol>
            <h6 class="pb-2 text-bold text-black">iFrames</h6>
            <p class="text-xs leading-6 text-black">Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>
            <h6 class="pb-2 text-bold text-black">Content Liability</h6>
            <p class="text-xs leading-6 text-black">We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libellous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>
            <h6 class="pb-2 text-bold text-black">Reservation of Rights</h6>
            <p class="text-xs leading-6 text-black">We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions</p>
          </div>
      </div>
    </div>
    </div>
    </div> 
</body>
