<body>
    <div class="flex items-center justify-center min-h-screen bg-local pl-4 pr-4 md:pl-64 md:pr-64">
      <div class="h-full max-w-xxl mt-12 px-9 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-4 text-2xl text-center text-black">
            OUR SERVICES  
          </h1>
          <h1 class="mb-4 text-2xl text-center text-black">
            MARRIAGE COUNSELLING
          </h1>
          <div class="h-30 w-full md:pl-32 md:pr-32 md:block">
            <img class="object-cover w-full h-full rounded-xl" src="../../../assets/img/marital.jpg"
                    alt="img" />
          </div> 
        <div class="flex flex-wrap text-md -mx-3 mb-4 mt-4 pl-4 pr-2 md:pl-24 md:pr-24">  
            <p class="pb-2">Marriage counseling can be worthwhile for any couple who wants to find ways to make their partnership better.</p>
            <p class="pb-2">It can be helpful at various points in a relationship and can address a wide variety of issues that might exist in a marriage.</p>
            <p class="pb-2">Younger couples may benefit from counseling that helps them establish healthy communication and habits early on in a marriage.</p>
            <p class="pb-2">One study found that counseling prior to marriage could also help empower couples to take action to maintain their relationship over the long term.</p>
            <p class="pb-2">Couples who want to work on changing themselves can also benefit.</p>
            <p class="pb-2">Counseling can be more effective when both partners are open and willing to look at their own flaws and are willing to make changes.</p>
            <p class="pb-2">Couples that seek help earlier may achieve better outcomes than those who wait. According to Dr. John Gottman, one of the leading experts on relationships and marriage, couples that get counseling before problems become severe may benefit a great deal from counseling.</p>
            <p class="pb-2">Even couples who have reached the point where they are considering divorce can still benefit from marriage counseling.</p>
        </div>
        <p class="mb-8 mr-4 pb-8 float-right text-black" [routerLink]="['/contactus']">contact us ----></p>
      </div>
    </div>
    </div>
    </div> 
</body>
