<body>
    <div class="flex items-center justify-center min-h-screen bg-local pl-4 pr-4 md:pl-64 md:pr-64">
      <div class="h-full max-w-xxl mt-12 px-9 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-4 text-2xl text-center text-black">
            OUR SERVICES  
          </h1>
          <h1 class="mb-4 text-2xl text-center text-black">
            ACCOMODATION 
          </h1>
          <div class="h-25 md:h-25 w-full md:pl-44 md:pr-44 md:block">
            <img class="object-cover w-full h-full rounded-xl" src="../../../assets/img/accomodation.jpg"
                    alt="img" />
          </div> 
        <div class="flex flex-wrap text-md -mx-3 mb-4 mt-4 pl-4 pr-2 md:pl-24 md:pr-24">  
            <p class="pb-2">Accommodation close to your wedding venue and try to find hotels in a wide variety of price ranges.</p>
            <p class="pb-2">Always check with the hotel directly to see whether you can get a good deal by booking a lot of rooms, even if your particular wedding venue doesn’t have an existing arrangement with that hotel.</p>
            <p class="pb-2">Provide detailed information about local hotels with your wedding invitations, including a short description of each hotel, the distance from the venue, and their website address.
                If your guests need to provide a code, or mention your surname, to get a discounted rate on hotel rooms, make sure you state that clearly on the information you send with the invitations.
                </p>
            <p class="pb-2">If the hotels that the majority of your guests are staying at are a long way from your venue, consider hiring a mini bus to provide shuttle runs from the hotel to the ceremony, and then back again at the end of the night. Alternatively, if you know guests that are staying at the same hotel, hook them up so they can share a taxi there and back.</p>
            <p class="pb-2">If you plan on having a breakfast or brunch for guests the morning after your wedding, mention it on your invitations. This may affect your guests’ choice of hotel, as well as the type of booking they make.</p>
            <p class="pb-2">Check what time the hotel bar stays open until, and see if they can open late for your wedding guests. If your guests want to continue the party back at the hotel, you don’t want them to be disappointed by a closed bar.</p>
        </div>
        <p class="mb-8 mr-4 pb-8 float-right text-black" [routerLink]="['/contactus']">contact us ----></p>
      </div>
    </div>
    </div>
    </div> 
</body>
