<body>
    <div class="flex items-center justify-center min-h-screen bg-local pl-4 pr-4 md:pl-64 md:pr-64">
      <div class="h-full max-w-xxl mt-12 px-9 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-4 text-2xl text-center text-black">
            OUR SERVICES  
          </h1>
          <h1 class="mb-4 text-2xl text-center text-black">
            ACCOMODATION 
          </h1>
          <div class="h-25 md:h-25 w-full md:pl-44 md:pr-44 md:block">
            <img class="object-cover w-full h-full rounded-xl" src="../../../assets/img/accomodation.jpg"
                    alt="img" />
          </div> 
        <div class="flex flex-wrap text-md -mx-3 mb-4 mt-4 pl-4 pr-2 md:pl-24 md:pr-24">  
        <q class="font-bold ml-4 md:ml-16">True Hospitality consists of giving the best of Yourself to your guests </q>
        <p class="p-2">Guest Hospitality plays a vital role in the Indian wedding. There are chances that few of your wedding guests live out of town or don’t live in the place where your wedding is planned to happen. Making necessary arrangements for the stay of guests is another major thing that needs to be considered. We need to make our wedding guests feel right at home as they travel many miles to celebrate the wedding occasion and they deserve a proper welcome. It's better to look closer to the wedding venue as it will be easy for the guests who find it difficult to travel.</p>
        <p class="p-2">Wedding Feast Matrimony will make the process of finding a Guest Accommodation special and hassle free and it can also be customised for you. We help you in the entire process from start to finish and make the accommodation easy for your Guests. If you want hotels near the wedding venue, we also assist in finding the ideal hotel for your guests as they need to have the best place and hospitality. There are a lot of things like food, space, transport, facilities and a lot more to consider when booking accommodation hotel for guests. Wedding Feast Matrimony will keep these things in mind while you approach us and will meet all your needs and will give a warm welcome to your guests through our services.</p>
        <p class="p-2">We also promised to provide them with every essential detail and create a beautiful memory for your guests and family. Based on customer’s requirements we will find the best suited accommodation at the best price. Wedding Feast Matrimony is dedicated to provide an extra mile to Customers and make fairy tale wedding stories.</p>
        </div>
        <p class="mb-8 mr-4 pb-8 float-right text-black" [routerLink]="['/contactus']">contact us ----></p>
      </div>
    </div>
    </div>
    </div> 
</body>
