<body>
    <div class="flex items-center justify-center min-h-screen bg-local">
      <div class="h-full max-w-xl mt-12 px-9 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-2xl shadow-xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-8 text-2xl text-center text-black">
            PASSWORD RECOVERY
          </h1>
        <div class="flex flex-wrap -mx-3 mb-4 mt-4 ">  
          <div class="w-full relative px-4 pt-2 mb-6 md:mb-0">
            <input class="appearance-none border-b-2 border-yellow-900 bg-transparent focus:outline-none block w-full placeholder-black py-1 px-1 pr-8" id="grid-city" type="text" placeholder="Email ID">
          </div>
        </div> 
        <p class= "text-xs text-center">You will receive password recovery link to your email address.<br>Recovery link will expire in 10 minutes from the time it has generated.
        </p>
        <button
          class="block m-auto w-half px-4 py-2 mt-4 text-sm font-medium leading-5 bg-gradient-to-b from-red-700 to-red-900 text-center text-white rounded-lg align-center"
          [routerLink]="['/singin']" >
          Get password recovery link
        </button>
        <hr>
        <div class="mt-7 mb-10 flex justify-center items-center">
            <a [routerLink]="['/signup']" class=" text-black no-underline">New User?</a>
        </div>
        </div>
      </div>
      </div>
    </div> 
</body>
