<body>
    <div class="flex items-center justify-center min-h-screen bg-local pl-4 pr-4 md:pl-64 md:pr-64">
      <div class="h-full max-w-xxl mt-12 px-9 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-4 text-2xl text-center text-black">
            OUR SERVICES  
          </h1>
          <h1 class="mb-4 text-2xl text-center text-black">
            PRE-MARRIAGE COUNSELLING
          </h1>
          <div class="h-30 w-full md:pl-32 md:pr-32 md:block">
            <img class="object-cover w-full h-full rounded-xl" src="../../../assets/img/premarital.jpg"
                    alt="img" />
          </div> 
        <div class="flex flex-wrap text-md -mx-3 mb-4 mt-4 pl-4 pr-2 md:pl-24 md:pr-24">  
            <p class="pb-2">Let's be real, you’ve thought about this at least once (ok, twice) which is totally normal because what person doesn't want a long-lasting, fulfilling and blissful life with their partner?</p>
            <p class="pb-2">The fact is, so much thought, energy and planning go into the actual wedding - but it’s equally important to give your marriage the same level of consideration to be sure you’ve set a solid foundation as you enter the next stage of your relationship. </p>
            <p class="pb-2">This is where a Pre Marriage Counselling course comes in.</p>
            <p class="pb-2">The purpose of Pre Marriage Counselling is to create a safe space for you and your partner to talk, as well as establish a partnership where you both feel seen, honoured and valued.</p>
            <p class="pb-2">It’s a bonding experience that not only develops better understanding, but enables you to listen, support and negotiate with each other in a positive and productive way. </p>
            <p class="pb-2">There’s always room to learn more about ourselves and our partners and doing a pre wedding course shows a willingness to improve, develop and commit to each other.</p>
            <p class="pb-2">As a relationship specialist trained in couples therapy, I offer a customised Pre Marriage Counselling course that helps you build a solid foundation for a powerful, fulfilling and intimate life-long relationship together.</p>        
          </div>
        <p class="mb-8 mr-4 pb-8 float-right text-black" [routerLink]="['/contactus']">contact us ----></p>
      </div>
    </div>
    </div>
    </div> 
</body>
