<body>
    <div class="flex items-center justify-center min-h-screen bg-local pl-4 pr-4 md:pl-64 md:pr-64">
      <div class="h-full max-w-xxl mt-12 px-9 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-4 text-2xl text-center text-black">
            OUR SERVICES  
          </h1>
          <h1 class="mb-4 text-2xl text-center text-black">
            GIFT REGISTRY 
          </h1>
          <div class="h-30 w-full md:pl-32 md:pr-32 md:block">
            <img class="object-cover w-full h-full rounded-xl" src="../../../assets/img/gift.png"
                    alt="img" />
          </div> 
        <div class="flex flex-wrap text-md -mx-3 mb-4 mt-4 pl-4 pr-2 md:pl-24 md:pr-24">  
            <q class="font-bold md:ml-16">A Perfect Ending to the Perfect Beginning must be a Perfect Return Gift</q>
            <p class="p-2">When wedding bells ring, there is Celebration and no wedding gets fulfilled without giving return gifts. The best part of one’s life is the wedding ceremony and people from all over the place will gather to attend the wedding and make it even more special. To express our token of gratitude and appreciate their visit, be it a small or a large, a return gift will be the perfect gift and it is a symbol of love. This will make them even more special, loved and important and will honour the effort you took and it also acknowledges their contribution in the celebration. A Return gift along with a handwritten thank you note will express your heartfelt gratitude.</p>
            <q class="font-bold md:ml-24"> Adding Value to your Weddings!  Adding Value to your Weddings! </q>
            <p class="p-2">A wedding return gift will make the wedding even more joyous and adds memories. Nowadays, offering a token of love to guests is on the increase and people are following this as a tradition. But the difficult task is choosing the gifts that are more practical and useful. If your return gifts meet the criteria then your wedding occasion will be remembered and adds a special memory. Because at the end of the day it will stay in each guest’s mind. </p>
            <q class="font-bold pl-8 md:ml-44">We do the Work. You Celebrate! </q>
            <p class="p-2">At Wedding Feast Matrimony, we get the best arrangement done by keeping in mind the personal interest, likes and dislikes of the guests. We specially hand-pick gifts with a personalized note for making it even more exceptional and personal. We make your wedding more cherished and unique. Wedding Feast Matrimony is committed to deliver wedding needs tailored to your budget delivered with quality. </p>
            <p class="font-bold md:ml-32">Looking for a Perfect Gift? Do Get in Touch With Us! </p>
          </div>
        <p class="mb-8 mr-4 pb-8 float-right text-black" [routerLink]="['/contactus']">contact us ----></p>
      </div>
    </div>
    </div>
    </div> 
</body>
