<body>
    <div class="flex items-center justify-center min-h-screen bg-local pl-4 pr-4 md:pl-64 md:pr-64">
      <div class="h-full max-w-xxl mt-12 px-9 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-4 text-2xl text-center text-black">
            OUR SERVICES  
          </h1>
          <h1 class="mb-4 text-2xl text-center text-black">
            GIFT REGISTRY 
          </h1>
          <div class="h-30 w-full md:pl-32 md:pr-32 md:block">
            <img class="object-cover w-full h-full rounded-xl" src="../../../assets/img/gift.png"
                    alt="img" />
          </div> 
        <div class="flex flex-wrap text-md -mx-3 mb-4 mt-4 pl-4 pr-2 md:pl-24 md:pr-24">  
            <p class="pb-2">As exciting as it is to receive a wedding gift, odds are, unwrapping it may have you coming to the realisation that some gifts are seriously dull, some feature items you've already purchased, and some others are things you may never use or even re-gift.</p>
            <p class="pb-2">In fact, it's a common impasse most newly-weds seem to reach post their big day. They are primed to receive that archetypical crockery set or silverware, or random knick-knacks that are most likely to be relegated in the storage unit. </p>
            <p class="pb-2">But what if you could get a solution to these woes with stand-out gifts that strike the perfect note? Enter, the wedding registry.</p>
            <p class="pb-2">In a nutshell, a wedding registry, also known as bridal registry or wedding list, is a wish list of gifts you and your betrothed can put together.</p>
            <p class="pb-2">This service is provided by a website or retail store to assist engaged couples to communicate their gift preferences to wedding guests. Once the items are shortlisted by the couple on the vendor's website or store, the registry is made available to guests to choose the gift of their choice and budget.</p>
            <p class="pb-2">In addition to providing valuable information for the gift buyer, this system helps prevent the receipt of duplicate or unwanted gifts. On purchase, the gifts are directly shipped to the couple's desired address. It also gives couples the perfect opportunity to stock up the right arsenal.</p>
        </div>
        <p class="mb-8 mr-4 pb-8 float-right text-black" [routerLink]="['/contactus']">contact us ----></p>
      </div>
    </div>
    </div>
    </div> 
</body>
