<body>
    <div class="flex items-center justify-center min-h-screen bg-local">
      <div class="h-full max-w-2xl mt-12 px-9 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-12 text-2xl text-center text-black">
            PRIVACY & POLICY
          </h1>
        <div class="flex flex-wrap text-md -mx-3 mb-4 mt-4">  
            <p class="text-xs leading-6">
                We care about data privacy and security. By using the Site, you agree to be bound by our Privacy Policy, which is incorporated into the Terms and Conditions. You should have a login (user-name and password together called 'credentials') to access this site. You are advised not to share your login details (credentials) to anyone, and change it very frequently to avoid unauthorized access. Please be advised that, no-one other than you knows the password which you have been registered during your first login, your password is stored in a non-human readable format. Please be advised the Site is hosted in the Cloud Infrastructure, and the Cloud Infrastructure may change the deploy country to India, USA or any European Union depends on the Cloud Infrastructure facilities or services.
            </p>
            <p class="text-xs leading-6">
                If you access the Site from the USA, European Union, Asia, or any other region of the world with laws or other requirements governing personal data collection, use, or disclosure that differ from applicable laws in the India, then through your continued use of the Site, you are transferring your data to India, and you expressly consent to have your data transferred to and processed in India.
            </p>
            <p class="text-xs leading-6">
                What are cookies? Cookies are text files containing small amounts of information, which your computer or mobile device downloads when you visit a website. When you return to websites — or visit other websites that use the same cookies — they recognise these cookies and therefore your browsing device. Cookies do lots of different jobs, like helping us understand how this website is being used, letting you navigate between pages efficiently, remembering your preferences, and generally improving your browsing experience. Cookies can also help ensure marketing you see online is more relevant to you and your interests. You can learn about the cookies we use and how to manage them below. The type of cookies used on most websites can generally be put into 1 of 4 categories: Strictly Necessary, Performance, Functionality and Targeting.
            </p>
            <p class="text-xs leading-6">
                Strictly Necessary Cookies These cookies are essential, as they enable you to move around the website and use its features, such as accessing secure areas. Without these cookies, services you've asked for can't be provided. These cookies don’t gather information about you that is used for marketing or remembering where you've been on the internet.
                Performance Cookies These cookies collect information about how you use a website, for example which pages you go to most often and if you get error messages from certain pages. These cookies don't gather information that identifies you. All information these cookies collect is anonymous and is only used to improve how a website works. These cookies are not used to target you with online marketing. Without these cookies we can't learn how our website is performing and make relevant improvements that could better your browsing experience.   
            </p>
            <p class="text-xs leading-6">
                Functionality Cookies These cookies allow a website to remember choices you make (such as your user name, language or the region you're in) and tailor the website to provide enhanced features and content for you. Without these cookies, a website cannot remember choices you've previously made or personalise your browsing experience.
            </p>
            <p class="text-xs leading-6">
                Targeting Cookies These cookies are used to tailor marketing to you and your interests. They are also used to limit the number of times you see an advertisement as well as help measure the effectiveness of the advertising campaign. They remember that you have visited a website and this information may be shared with other organisations such as advertisers. Although these cookies can track your visits to other websites, they don’t usually know who you are. Without these cookies, online advertisements you encounter will be less relevant to you and your interests.
            </p>
            <p class="text-xs leading-6">
                What happens if I disable cookies? If cookies are disabled on your computer, tablet or mobile your experience on the website may be limited. For example, you may not be able to browse freely or use specific functions or features.
            </p>
            <p class="text-xs leading-6">
                How do I disable/enable cookies? To disable or enable cookies you will need to change some settings on your Internet browser. We have provided step-by-step guides for the major desktop browsers below. For information on how to manage cookies on your tablet or mobile please consult your documentation or online help files
            </p>
            <p class="text-xs leading-6">
                Google Chrome In the settings menu, select 'show advanced settings' at the bottom of the page Select the 'content settings' button in the privacy section In the page that appears tells you can manage and/or clear stored cookies.
            </p>
            <p class="text-xs leading-6">
                Firefox In the menu, select 'options' Select the privacy tab in the options box From the dropdown choose, 'use custom settings for history'. This will present the options for cookies and you can choose to enable or disable cookies.
            </p>
            <p class="text-xs leading-6">
                Internet Explorer 6+ In the tools menu, select 'Internet options' Click the privacy tab You will see a privacy settings slider which has six settings that allow you to control the number of cookies that will be placed: Block All Cookies, High, Medium High, Medium (default level), Low, and Accept All Cookies.
            </p>
            <p class="text-xs leading-6">
                Safari In the settings menu, select the 'preferences' option Open the privacy tab Select the option you want from the 'block cookies' section Any other browser For information on how to manage cookies via other desktop browsers please consult your documentation or online help files. What happens to cookies that have been downloaded in the past? If you've disabled through your browser we may still use information collected from existing cookies, but we'll stop using the disabled cookies to gather any further information. For information on deleting stored cookies in your browser please visit the All About Cookies website.
            </p>
            <p class="text-xs leading-6">
                [Further, please read the full Terms and Conditions to know the facts, rules and laws of using this site.]
            </p>        
        </div>
      </div>
    </div>
    </div>
    </div> 
</body>
