body {
    max-width: 100%;
    overflow-y: hidden;
    font-family: quando;
}
.bg{
    background: url(../../assets/img/newbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    }
.gimg{
    height: 210px;
    width: 100%;
}


