<body>
    <div class="flex items-center min-h-screen bg-local">
      <div class="flex-1 h-full max-w-6xl mx-auto bg-grey rounded-lg shadow-xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
      <div class="h-30 sm:h-auto md:w-1/2 sm:object-scale-down">
        <img class="object-cover w-full h-full" src="../../assets/img/side.png"
                alt="img" />
      </div>    
      <div class="flex items-center justify-center p-6 sm:object-scale-down sm:p-12 md:w-1/2 bg-brown">
        <div>
          <h1 class="mb-8 text-2xl text-center text-black">
            REGISTRATION FORM
          </h1>
        
        <div class="flex flex-wrap -mx-3 mb-2 ">
          <div class="w-full md:w-1/2 px-4 pt-3 pb-1 mb-6 md:mb-0">
            <input class="appearance-none border-b-2 border-yellow-900 bg-transparent focus:outline-none block w-full py-1 px-1 pr-8 placeholder-black" id="grid-city" type="text" placeholder="First Name">
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 mb-6 md:mb-0">
            <input class="appearance-none border-b-2 border-yellow-900 bg-transparent focus:outline-none block w-full py-1 px-1 pr-8 placeholder-black" id="grid-city" type="text" placeholder="Middle Name">
          </div>
          <div class="w-full md:w-1/2 px-4 pt-0 mt-2 mb-6 md:mb-0">
            <input class="appearance-none border-yellow-900 border-b-2 bg-transparent focus:outline-none block w-full py-1 px-1 pr-8 placeholder-black" id="grid-city" type="text" placeholder="Last Name">
          </div>
          <div class="w-full md:w-1/2 px-4 pt-0 mt-2 mb-6 md:mb-0">
            <input class="appearance-none border-yellow-900 border-b-2 bg-transparent focus:outline-none block w-full py-1 px-1 pr-8 placeholder-black" id="grid-city" type="text" placeholder="Email ID">
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 mt-2 mb-6 md:mb-0">
            <input class="appearance-none border-yellow-900 border-b-2 bg-transparent focus:outline-none block w-full py-1 px-1 pr-8 placeholder-black" id="grid-city" type="text" placeholder="Mobile Number">
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 mt-2 mb-6 md:mb-0">
            <input class="appearance-none bg-transparent border-yellow-900 border-b-2 focus:outline-none block w-full py-1 px-1 pr-8 placeholder-black" id="grid-city" type="text" placeholder="Password">
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 mt-2 mb-6 align-right md:mb-0">
            <input class="appearance-none bg-transparent border-yellow-900 border-b-2 focus:outline-none block w-full py-1 px-1 pr-8 placeholder-black" id="grid-city" type="text" placeholder="Confirm Password">
          </div>
        </div>
        <div class="mt-4 text-center">
          <p class="text-sm">By Clicking Register Now, you agree to our <br> <a href="#"
             class="terms hover:underline"> Terms & Conditions and Privacy Policy </a></p>
        </div> 
        <button
          class="block m-auto w-half px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white rounded-lg align-center"
          href="#">
          Register Now
          </button>
        </div>
        </div>
        </div>
      </div>
    </div> 
</body>
