<html>
<header>
    <nav class="flex space items-center justify-between flex-wrap mr-15 ml-10 p-2">
        <div class="flex flex-shrink-0 mr-60">
          <img class ="h-12 w-12 mr-60 mb-0.5" src="../../assets/img/logo2.png" alt="">
        </div>
        <div class="text-white mt-0.5">
          KIRUBAI MATRIMONY
        </div>
        <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
        <div class="text-sm sm:flex-grow">
          <a  href="#"
              class="block mt-0.5 sm:inline-block sm:mt-0 text-white mr-4">
            Home
          </a>
          <a href="#"
              class="block mt-0.5 sm:inline-block sm:mt-0 text-white mr-4">
             Plans
          </a>
          <a href="#"
              class="block mt-0.5 sm:inline-block sm:mt-0 text-white mr-4">
             Contact Us
          </a>
        </div>
        <div>
          <a href="#"
              class=" button inline-block text-sm px-4 py-2 leading-none border rounded text-black border-black bg-white mt-0.5 md:mt-0">
              Signin
          </a>
        </div>
        </div>
    </nav>
</header>
<body>
    <div class="flex items-center min-h-screen bg-local">
      <div class="flex-1 h-full max-w-7xl mx-auto bg-grey rounded-lg shadow-xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
      <div class="h-30 sm:h-auto md:w-1/2">
        <img class="object-cover w-full h-full" src="../../assets/img/side.png"
                alt="img" />
      </div>
            
      <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2 bg-brown">
        <div>
          <h1 class="mb-8 text-2xl text-center text-black">
            REGISTRATION FORM
          </h1>
        
        <div class="flex flex-wrap -mx-3 mb-2 ">
          <div class="w-full md:w-1/2 px-4 mb-6 md:mb-0">
            <div class="relative border-b-2 border-yellow-900">
              <select class="bg-transparent focus:outline-none block appearance-none w-full text-black py-1 px-1 pr-8" id="grid-state">
              <option>Profile Created For</option>
              <option>Option 1</option>
              <option>Option 2</option>
              </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 px-4 mb-6 md:mb-0">
            <div class="relative border-b-2 border-yellow-900">
              <select class="bg-transparent focus:outline-none block appearance-none w-full text-black py-1 px-1 pr-8 rounded" id="grid-state">
              <option>Denomination</option>
              <option>Option 1</option>
              <option>Option 2</option>
              </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
            </div>
          </div>
          <div class="w-full relative md:w-1/2 px-4 pt-2 mb-6 md:mb-0">
            <input class="appearance-none border-b-2 border-yellow-900 bg-transparent focus:outline-none block w-full placeholder-black py-1 px-1 pr-8" id="grid-city" type="text" placeholder="Name">
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 mb-6 md:mb-0">
            <div class="relative border-b-2 border-yellow-900">
              <select class="appearance-none bg-transparent focus:outline-none block text-black w-full py-1 px-1 pr-8" id="grid-state">
              <option>Division</option>
              <option>Option 1</option>
              <option>Option 2</option>
              </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
            </div>
          </div>
            <div class="inline-flex w-full md:w-1/2 px-1 pt-3 pb-2 mb-6 mt-2 md:mb-0">
              <label class="text-black px-4 pt-2 pb-1">Gender</label>
              <button class="py-2 px-3 rounded-l text-white">
                Male
              </button>
              <button class="py-2 px-3 rounded-r bg-white">
                Female
              </button>
            </div>
          <div class="w-full md:w-1/2 px-4 pt-3 pb-1 mb-6 md:mb-0">
            <input class="appearance-none border-b-2 border-yellow-900 bg-transparent focus:outline-none block w-full py-1 px-1 pr-8 placeholder-black" id="grid-city" type="text" placeholder="Mobile Number">
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 mb-6 md:mb-0">
            <input class="appearance-none border-b-2 border-yellow-900 bg-transparent focus:outline-none block w-full py-1 px-1 pr-8 placeholder-black" id="grid-city" type="text" placeholder="Date Of Birth">
          </div>
          <div class="w-full md:w-1/2 px-4 pt-0 mt-0 mb-6 md:mb-0">
            <input class="appearance-none border-yellow-900 border-b-2 bg-transparent focus:outline-none block w-full py-1 px-1 pr-8 placeholder-black" id="grid-city" type="text" placeholder="Email ID">
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 mb-6 md:mb-0">
            <div class="relative border-b-2 border-yellow-900">
              <select class="block appearance-none bg-transparent focus:outline-none w-full py-1 px-1 pr-8 text-black" id="grid-state">
              <option>Marital Status</option>
              <option>Option 1</option>
              <option>Option 2</option>
              </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 mb-6 md:mb-0">
            <input class="appearance-none bg-transparent border-yellow-900 border-b-2 focus:outline-none block w-full py-1 px-1 pr-8 placeholder-black" id="grid-city" type="text" placeholder="Password">
          </div>
          <div class="w-full md:w-1/2 px-4 pt-2 mb-6 align-right md:mb-0">
            <input class="appearance-none bg-transparent border-yellow-900 border-b-2 focus:outline-none block w-full py-1 px-1 pr-8 placeholder-black" id="grid-city" type="text" placeholder="Confirm Password">
          </div>
        </div>
        <div class="mt-4 text-center">
          <p class="text-sm">By Clicking Register Now, you agree to our <br> <a href="#"
             class="terms hover:underline"> Terms & Conditions and Privacy Policy </a></p>
        </div> 
        <button
          class="block m-auto w-half px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white rounded-lg align-center"
          href="#">
          Register Now
          </button>
        </div>
        </div>
        </div>
      </div>
    </div> 
</body>
<footer class="px-3 py-2">
    <div class="container flex flex-col space-y-2 mt-2">
        <div class="justify-between flex w-full pr-2 mr-30 sm:space-x-4">
           <div class="flex flex-wrap mr-90 sm:space-x-4">
                <ul>
                    <li>Kirubai Matrimony</li>
                    <li>+91-7305241841</li>
                    <li>adminin@kirubai.in</li>
                </ul>
            </div>
            <div>
              <p class="text-center mt-4">Company Name © 2018</p>
          </div>
            <div class="flex flex-wrap sm:space-x-4">
                <ul>
                    <li><a>Terms & Conditions</a></li>
                    <li><a>Cancellation & Refund</a></li>
                    <li><a>Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>