body {
    max-width: 100%;
    overflow-y: hidden;
    font-family: quando;
}
.bg-local{
    background: url(../../assets/img/prbg.png);
    min-height: 79vh;
    background-size: cover;
    align-items: center;
    }
.content{
    float: right;
}
.imgContainer{
    float:left;
}

