<body>
    <div class="flex items-center justify-center min-h-screen bg-local">
      <div class="h-full max-w-3xl mt-12 px-12 py-12 pb-20 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-12 text-2xl text-center text-black font-bold">
            MY PROFILE
          </h1>
        <div class="flex flex-wrap w-full md:w-1/2 -mx-3 mb-4 mt-4 "> 
          <div class="w-full md:w-full relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
          <img style="width:250px;height:230px;" src="../../assets/img/profile.jpg" alt="Profile Photo" class="rounded-3xl w-full md:w-1/2 float-left">
          <div class="content ml-16">
          <label class="px-3 w-1/2 text-black font-bold block">ABOUT</label> 
          <div class="w-full md:w-full relative block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
            <label class="bg-transparent w-32 text-black font-bold">Name</label>
            <p>Wesly Abraham Mathew</p>
          </div>
              <div class="w-full md:w-full relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-32 text-black font-bold">Registration Number</label>
                <p>UR15K1819</p>
              </div>
              <div class="w-full md:w-full relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-32 text-black font-bold">Matrimony Profile is created for</label>
                <p>Son</p>
              </div>
        </div>
        </div>
        </div>
        <hr>
        <label class="px-2 text-black font-bold">GENERAL INFORMATION</label>
        <div class="flex flex-wrap -mx-3 mb-4 mt-4 "> 
          <div class="w-full md:w-1/2 relative block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
            <label class="bg-transparent w-40 text-black font-bold">Marital Status</label>
            <p>Unmarried</p>
          </div>
          <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
            <label class="bg-transparent md:inline-block w-32 text-black font-bold">Gender</label>
            <p>Male</p>
          </div>
              <div class="w-full md:w-1/2 relative block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-40 text-black font-bold">Height(cm)</label>
                <p>180</p>
              </div>
              <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent md:inline-block w-32 text-black font-bold">Weight(Kg)</label>
                <p>63</p>
              </div>
              <div class="w-full md:w-1/2 relative block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-40 text-black font-bold">Date of Birth</label>
                <p>19/12/1995</p>
              </div>
              <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent md:inline-block w-32 text-black font-bold">Complextion</label>
                <p>Fair</p>
              </div>
              <div class="w-full md:w-1/2 relative block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-40 text-black font-bold">Mother Tongue</label>
                <p>Tamil</p>
              </div>
              <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent md:inline-block w-32 text-black font-bold">Family</label>
                <p>Nuclear family</p>
              </div>
              <div class="w-full md:w-1/2 relative block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-40 text-black font-bold">Nationality</label>
                <p>India</p>
              </div>
              <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent md:inline-block w-32 text-black font-bold">Qualification</label>
                <p>B.Tech CSE</p>
              </div>
              <div class="w-full md:w-1/2 relative block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-48 text-black font-bold">Occupation</label>
                <p>Software Developer</p>
              </div>
              <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent md:inline-block w-32 text-black font-bold">Salary</label>
                <p>630000</p>
              </div>
        </div>
        <hr>
        <label class="px-2 text-black font-bold">CONTACT INFORMATION</label>
        <div class="flex flex-wrap -mx-3 mb-4 mt-4 "> 
              <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-48 text-black font-bold">Building Number</label>
                <p>25/12</p>
              </div>
              <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent md:inline-block w-32 text-black font-bold">City</label>
                <p>Chennai</p>
              </div>
              <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-48 text-black font-bold">Building Name</label>
                <p>Arcade</p>
              </div>
              <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent md:inline-block w-32 text-black font-bold">State</label>
                <p>Tamil Nadu</p>
              </div>
              <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 py-4 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-24 text-black font-bold">Street Name</label>
                <p class="inline-block">Annamalai Street</p>
              </div>
              <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent md:inline-block w-32 text-black font-bold">Zip Code</label>
                <p>636001</p>
              </div>
              <div class="w-full md:w-full relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-48 text-black font-bold">WhatsApp Number</label>
                <p>9484293492</p>
              </div>
          </div>
          <hr>
          <label class="px-2 text-black font-bold">HABIT INFORMATION</label>
          <div class="flex flex-wrap -mx-3 mb-4 mt-4 "> 
              <div class="w-full md:w-full relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-40 text-black font-bold">Smoke</label>
                <p>No</p>
              </div>
              <div class="w-full md:w-full relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
                <label class="bg-transparent w-40 text-black font-bold">Drink</label>
                <p>No</p>
              </div>
          </div>
          <label class="px-2 text-black font-bold">RELIGIOUS INFORMATION</label>
          <div class="flex flex-wrap -mx-3 mb-4 mt-4 "> 
            <div class="w-full md:w-full relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
              <label class="bg-transparent w-40 text-black font-bold">Denomination</label>
              <p>Catholic</p>
            </div>
            <div class="w-full md:w-full relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
              <label class="bg-transparent w-40 text-black font-bold">Division</label>
              <p>CSI</p>
            </div>
          </div>
          <hr>
          <label class="px-2 text-black font-bold">MATCH INFORMATION</label>
          <div class="flex flex-wrap -mx-3 mb-4 mt-4 "> 
            <div class="w-full md:w-1/2 relative block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
              <label class="bg-transparent w-40 text-black font-bold">Marital Status</label>
              <p>Unmarried</p>
            </div>
            <div class="w-full md:w-1/2 relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
              <label class="bg-transparent md:inline-block w-40 text-black font-bold">What are you looking for in a person</label>
              <p>None</p>
            </div>
            <div class="w-full md:w-full relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
              <label class="bg-transparent w-40 text-black font-bold">Denomination</label>
              <p>Catholic</p>
            </div>
            <div class="w-full md:w-full relative inline-block md:inline-flex px-3 pt-4 mb-6 md:mb-0">
              <label class="bg-transparent w-40 text-black font-bold">Division</label>
              <p>CSI</p>
            </div>
          </div>
          <label class="px-2 text-black font-bold">ADDITIONAL PHOTOGRPAHS</label>
          <div class="mt-8">
            <div class="imgContainer pr-3 pl-2 pb-4">
                <img src="../../assets/img/profile.jpg" height="250" width="200" class="rounded-3xl">
            </div>
            <div class="imgContainer pr-2 pl-2 pb-4">
                <img class="middle-img" src="../../assets/img/profile.jpg" height="250" width="200" class="rounded-3xl">
            </div>
            <div class="imgContainer pl-2 pr-2">
                 <img src="../../assets/img/profile.jpg" height="250" width="200" class="rounded-3xl">
            </div>
          </div>
          </div>
          </div>
          </div>
          </div>
</body>
