<body>
    <div class="flex items-center justify-center min-h-screen bg-local">
      <div class="h-full max-w-xl mt-12 px-9 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-8 text-2xl text-center text-black">
            SEND YOUR QUERY
          </h1>
          <h6 class="mb-8 text-center text-black">We will get back to you as soon as possible</h6>
        <div class="flex flex-wrap -mx-3 mb-4 mt-4 "> 
          <div class="w-full md:w-1/2 relative px-4 pt-2 pb-8 md:mb-0">
            <input class="appearance-none border-b-2 border-yellow-900 bg-transparent focus:outline-none block w-full placeholder-black py-1 px-1 pr-8" id="grid-city" type="text" placeholder="First Name">
          </div>
          <div class="w-full md:w-1/2 relative px-4 pt-2 pb-8 md:mb-0">
            <input class="appearance-none border-b-2 border-yellow-900 bg-transparent focus:outline-none block w-full placeholder-black py-1 px-1 pr-8" id="grid-city" type="text" placeholder="Last Name">
          </div> 
          <div class="w-full md:w-1/2 relative px-4 pt-2 pb-8 md:mb-0">
            <input class="appearance-none border-b-2 border-yellow-900 bg-transparent focus:outline-none block w-full placeholder-black py-1 px-1 pr-8" id="grid-city" type="text" placeholder="Email ID">
          </div>
          <div class="w-full md:w-1/2 relative px-4 pt-2 pb-8 md:mb-0">
            <input class="appearance-none border-b-2 border-yellow-900 bg-transparent focus:outline-none block w-full placeholder-black py-1 px-1 pr-8" id="grid-city" type="text" placeholder="Number">
          </div>
          <div class="w-full md:w-full relative px-4 pt-2 pb-8 md:mb-0">
            <input class="appearance-none border-b-2 border-yellow-900 bg-transparent focus:outline-none block w-full placeholder-black py-1 px-1 pr-8" id="grid-city" type="text" placeholder="Query/Message">
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-4 mt-4 ">
            <button
              class="block m-auto w-half px-4 py-2 mt-10 text-sm font-medium leading-5 bg-gradient-to-b from-red-700 to-red-900 text-center text-white rounded-lg align-center"
              [routerLink]="['/profile']">
              Submit
            </button>
        </div>
        <div>
            <p class="text-center leading-9">Do you have any questions?<br>
                Call or Email to us<br>
                Mobile(or)WhatsApp - 91-7305241841<br>
                Email ID- admin@kirubai.in</p>
        </div>
        </div>
      </div>
      </div>
    </div> 
</body>
