<body>
    <div class="flex items-center justify-center min-h-screen bg-local pl-4 pr-4 md:pl-64 md:pr-64">
      <div class="h-full max-w-xxl mt-12 px-9 pt-12 mb-12 ml-2 bg-white bg-opacity-50 rounded-3xl shadow-3xl font-quando">
      <div class="flex flex-col-reverse md:flex-row">
        <div>
          <h1 class="mb-4 text-2xl text-center text-black">
            OUR SERVICES  
          </h1>
          <h1 class="mb-4 text-2xl text-center text-black">
            LOCATION
          </h1>
          <div class="h-30 w-full md:pl-32 md:pr-32 md:block">
            <img class="object-cover w-full h-full rounded-xl" src="../../../assets/img/location.jpg"
                    alt="img" />
          </div> 
        <div class="flex flex-wrap text-md -mx-3 mb-4 mt-4 pl-4 pr-2 md:pl-24 md:pr-24">  
            <p class="pb-2">Without the necessary time and local knowledge, it can be an intimidating prospect to plan a destination wedding. </p>    
            <p class="pb-2">As Destination wedding planners, we understand that due to time restraints and work commitments our clients often prefer to avoid overloading themselves with planning their perfect wedding from afar.</p> 
            <p class="pb-2"> My Wedding Planning specializes in managing just these occasions; from small, intimate family events to large, spectacular celebrations: weddings are the only thing we do! Our team can plan your entire wedding from venue bookings, vendor management to the overall design and execution</p> 
            <p class="pb-2">We offer a personal service, accompanying you not only on your initial viewing of possible venues but on any subsequent visits and for the duration of your wedding, ensuring total dedication to you.</p> 
            <p class="pb-2"> If you are planning your wedding from outside of India, we are also available on Skype, Viber, Whatsapp.So if it is not logistically possible for you to come to India for a visit we are still able to build that personal relationship and take care of everything remotely so your wedding is everything you have always dreamed of.</p>      
        </div>
        <p class="mb-8 mr-4 pb-8 float-right text-black" [routerLink]="['/contactus']">contact us ----></p>
      </div>
    </div>
    </div>
    </div> 
</body>
